@import "tailwindcss";

@theme {
 --color-primary: #CFDEE3;   /* fundo */
  --color-secondary: #4A4848; /* texto */
  --color-third: #E2ECF9;   /* balões */
}


/* Esconde a barra de scroll em todos os navegadores */
.flex-1.overflow-y-auto::-webkit-scrollbar {
  display: none;
}
.flex-1.overflow-y-auto {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */
}